body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

@font-face {
    font-family: 'Eveleth Dot';
    src: url('EvelethDotBold.woff2') format('woff2'),
        url('EvelethDotBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'Eveleth Dot';
    src: url('EvelethDotRegular.woff2') format('woff2'),
        url('EvelethDotRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;}

@font-face {
    font-family: 'Eveleth Dot';
    src: url('EvelethDotLight.woff2') format('woff2'),
        url('EvelethDotLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;}

.font-ed {
    font-family: 'Eveleth Dot'; }

.font-pn {
    font-family: 'Proxima Nova'; }

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-BlackIt.woff2') format('woff2'),
        url('ProximaNova-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-BoldIt.woff2') format('woff2'),
        url('ProximaNova-BoldIt.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Black.woff2') format('woff2'),
        url('ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;}


@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Bold.woff2') format('woff2'),
        url('ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-LightIt.woff2') format('woff2'),
        url('ProximaNova-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Extrabld.woff2') format('woff2'),
        url('ProximaNova-Extrabld.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;}



@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-RegularIt.woff2') format('woff2'),
        url('ProximaNova-RegularIt.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-LightIt.woff2') format('woff2'),
        url('ProximaNova-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Light.woff2') format('woff2'),
        url('ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-RegularIt.woff2') format('woff2'),
        url('ProximaNova-RegularIt.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-BlackIt.woff2') format('woff2'),
        url('ProximaNova-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Semibold.woff2') format('woff2'),
        url('ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-ThinIt.woff2') format('woff2'),
        url('ProximaNova-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Thin.woff2') format('woff2'),
        url('ProximaNova-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;}




/*Presets*/
*{
    transition: color 0.2s ease;
}
/* animation */

.grass-clean-animation {
    height: 100px;
    width: 66%;
    left: -8%;
    position: relative;
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 400px;
    animation-name: grassClean;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-bottom: -2px;
}

.grass-clean-animation::before {
    right: -190px;
    bottom: 0;
    position: absolute;
    width: 200px;
    height: 100px;
    content: '';
    background-image: url('grass-cleaner.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left ; }

@keyframes grassClean {
    0%   { width: 116%; background-position: bottom -40px left; }
    10%   { width: 116%; background-position: bottom 0px left; }
    11%   { width: 116%; background-position: bottom 0px left; }
    100% { width: 0%; background-position: bottom 0px left; }
  }

  /* snake animation */

.snake-right , 
.snake-left {
    position: relative;
    animation-name: leftMove;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-direction: alternate; 
    animation-iteration-count: infinite;
    animation-duration: 1s; }

.snake-right {
    animation-name: rightMove; }
  
  @keyframes leftMove {
    from { left:0px;}
    to { left:-20px;}
  }
  @keyframes rightMove {
    from { right:0px;}
    to { right:-20px;}
  }

.grass-mail-chimp::before {
    z-index: -1;
    position: absolute;
    content: '';
    background-image: url('pattern-bg.png');
    top: 0%;
    height: 120%;
    width: calc(100% + 1400px );
    left: -700px;
    background-repeat: repeat-x;
    background-size: 1400px;
    background-position: top center;   }

.grass-customer-bg::before {
    z-index: -1;
    position: absolute;
    content: '';
    background-image: url('pattern-bg-2.png');
    top: -5%;
    height: 130%;

    /* width: calc(100% + 160px );
    left: -80px; */
    width: calc(100% + 1200px );
    left: -600px;

    background-repeat: repeat-x;
    background-size: 1900px;
    background-position: center;   }

.grass-garden {
    background-size: 1920px;
    background-position: top -150px center;
    background-repeat: repeat-x;
    background-image: url('grass-field-bg.jpg'); }

@media (max-width: 1366px) {
    .grass-garden {
        background-size: 1420px;
        background-position: top -50px center; }
}

@media (max-width: 767px) {

    .grass-clean-animation {
        animation-duration: 5s; }

    .grass-clean-animation::before {
        right: -90px;
        width: 100px;
        height: 100px; }

    .grass-garden {
        background-size: cover;
        background-position: top -0px center;
        background-repeat: repeat-x;
        background-image: url('grass-field-bg.jpg'); }
}

/* slider */
.grass-top-text-play .swiper-wrapper{
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;    }


/* Button hover  */
.btn-hv-bg{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn-hv-bg-g::before{
background-color: #044F27 !important;
}
.btn-hv-bg::before{
content: "";
position: absolute;
height: 0%;
width: 100%;
background-color: #ED2024;
border-radius:calc(infinity * 1px);
transition:height 0.2s ease-in-out;
left: 0;
bottom: 0;
z-index: -1;
}

.btn-hv-bg:hover::before{
    height: 100%;

}

@media (max-width: 767px) {
    .grass-need-help br {
        display: none; }
}

.grass-need-help a {
    position: relative; }


.grass-need-help a::before {
    transition: 0.2s ease;
    transform: scale(0);
    position: absolute;
    border-radius: 100%;
    left: -50%;
    top: -30%;
    width: 200%;
    height: 200%;
    z-index: 1;
    content: '';
    background-color: rgba(255, 255, 255, 0.3); }
.grass-need-help a:hover::before {
    transition: 0.2s ease;
    transform: scale(1);
}

.gr-transtion ,
.grass-hover-animation {
    transition: 0.2s ease; }


.animated .grass-trans-opa {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s; }
 .grass-trans-opa {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s; }

.grass-mobile-trans  {
    animation: fadeinRight 0.5s;
    transition: 0.2s ease; } 

.animated .grass-mobile-trans  {
    animation: fadeoutRight 0.5s; } 


    @-webkit-keyframes fadeIn {
        from { opacity: 0; }
          to { opacity: 1; }
    }
    @keyframes fadeIn {
        from { opacity: 0; }
          to { opacity: 1; }
    }
    @-webkit-keyframes fadeOut {
        from { opacity: 1; }
          to { opacity: 0; }
    }
    @keyframes fadeOut {
        from { opacity: 1; }
          to { opacity: 0; }
    }

    @keyframes fadeinRight {
        from { right: -320px; }
          to { right: 0; }
    }
    @keyframes fadeoutRight {
        from { right: 0; }
          to { right: -320px; }
    }

.sdui-sticky-conten {
    width: 100% !important; }

.sdui-sticky-content.is-active {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05); }


.btn-hv-bg {
    position: relative; /* Ensures children can be positioned absolutely */
    display: inline-block;
    overflow: hidden;
}

.btn-text {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    position: relative; /* Needed for the pseudo-element to position correctly */
}

.btn-text::after {
    content: attr(data-attribute);
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -300%; /* Start outside the button */
    transition: transform 0.2s ease-in-out;
    text-align: center;
}

.btn-hv-bg:hover .btn-text {
    transform: translateY(-300%);
}

.btn-hv-bg:hover .btn-text::after {
    transform: translateY(0%);
}


/* toggle css */
.grass-product-toggle-info {
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    overflow: hidden;
}

.grass-product-toggle-info.toggle {
    max-height: 500px; /* Adjust based on content size */
    opacity: 1;
    transform: scaleY(1);
}

.grass-product-toggle-button svg{
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg);
}
.ico-rot-180 svg {

    transform: rotate(-180deg);
}

.grass-product-toggle-button{
    cursor: pointer;
}